<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Pizzas List</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <a  routerLink="/dashboard/add" class="btn btn-warning">
                <i class="fa-solid fa-plus"></i>       
            </a>
          <table id="example2" class="table table-bordered table-hover" *ngIf="pizzas">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Pizza Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Base Price</th>
                    <th>Pizzeria</th>
                    <th></th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pizza of pizzas">
                    <td>{{ pizza.pizzaID }}</td>
                    <td>{{ pizza.pizzaName }}</td>
                    <td>{{ pizza.description }}</td>
                    <td><img src="{{env.rootUrl}}/{{pizza.photo}}"
                         class="img-thumbnail img-responsive" style="width:50px;height: 50px;"></td>
                    <td>{{ pizza.basePrice }}</td>
                    <td>{{ pizza.pizzeriaName }}</td>
                    <td>
                        <i class="fa-solid fa-pen-to-square text-success"></i>|
                        <i class="fa-solid fa-trash text-danger"></i>                   
                     </td>
                  </tr>
         
            </tbody>
         
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>

  <script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>